body {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

hr {
  margin-block-start: 1.75em;
  margin-block-end: 1.75em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
